<template>
  <div :class="$style.flexy">
    <div>
      <logo />
      <div :class="$style.links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          :class="`${$style.btn} ${$style.btn__green}`"
        >
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          :class="`${$style.btn} ${$style.btn__grey}`"
        >
          GitHub
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style lang="postcss" module>
.flexy {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.links {
  padding-top: 15px;
}
.btn {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 30px;
  &.btn__green {
    border: 1px solid #3b8070;
    color: #3b8070;
    &:hover {
      color: #fff;
      background-color: #3b8070;
    }
  }
  &.btn__grey {
    border: 1px solid #35495e;
    color: #35495e;
    margin-left: 15px;
    &:hover {
      color: #fff;
      background-color: #35495e;
    }
  }
}
</style>
